@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue.ttc');
}

body {
    font-family: HelveticaNeue, sans-serif;
}

.uppercase {
    font-family: HelveticaNeue;
    font-variant-caps: all-small-caps;
    font-size: 24px;
}

.lowercase {
    font-family: HelveticaNeue;
}

#root_div {
    margin-top: 20px;
}

#redberry {
    margin-top: 3%;
}

#redberry_logo {
    width: 112px;
    height: 18px;
}

#logo1_div {
    margin-top: 5%;
}

#logo1 {
    width: 781px;
    height: 482px;
}

#btn_div {
    margin-top: 5%;
}

#btn-1,
#btn-2 {
    margin-top: 2%;
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    color: #FFFFFF;
    font-size: 20px;
}

#personal_info {
    align-items: center;
    width: 1226px;
    height: 740px;
    margin-top: 2.5%;

}

#root_personal_info {
    background-color: #E5E5E5;
}

#headline {
    margin-top: 2%;
}

#headline_prsonal_info {
    border-bottom: 2px solid;
}

#main_redberry_logo {
    width: 85px;
    height: 85px;
    border-radius: 50px;
}

#chevron_div {
    position: absolute;
    margin-left: 30px;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    background-color: #D9D9D9;
}

#chevron_left {
    margin-left: 7px;
    margin-top: 5px;
}

#name,
#lastname, #names, #phone {
    width: 407px;
    height: 60px;
    border-color: #8AC0E2;
}


#name_div,
#lastname_div {
    width: 407px;
}

#personal_info_form {
    max-width: 890px;
    height: 600px;
}

#team {
    width: 800px;
    height: 60px;
    background-color: #EBEBEB;
    color: black;
}

#position {
    width: 800px;
    height: 60px;
    background-color: #EBEBEB;
    color: black;
}

#form_div {
    width: 800px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#next_btn {
    background-color: #62A1EB;
    color: #FFFFFF;
    width: 150px;
    height: 40px;
}

#laptop_info {
    width: 1226px;
    height: 1571px;
}

#laptop_form {
    width: 878px;
    height: auto;
}

#img_upload_div {
    border-style: dashed;
    border-radius: 18px;
    border-width: 2px;
    border-color: #4386A9;
    width: 878px;
    height: 423px;
    background-color: #EBEBEB;
    color: #4386A9;
}

#img_text_div {
    align-items: center;
    text-align: center;
    width: 195px;
    height: 76px;
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#upload_btn {
    width: 200px;
    height: 45px;
    background-color: #62A1EB;
    border-radius: 8px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#select_col, #cpu {
    margin-top: 32px;
}

#save_btn {
    width: 219px;
    height: 60px;
    background-color: #62A1EB;
    color: #FFFFFF;
    border-radius: 8px;
}

#back {
    font-size: 18px;
    color: #62A1EB;
}

#title {
    font-size: 34px;
    color: #000000;
}

#root_laptop_div {
    width: 1176px;
    height: auto;
}

#first_laptop_div,
#second_laptop_div {
    width: 563px;
    height: 205px;
    border-radius: 20px;
    background-color: #EAFAFF;
}

.patops_img {
    height: 178px;
    width: 266px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 13px;
}

#leptop_author_name,
#leptop_author_pc {
    font-size: 18px;
}

.read_more {
    color: #000000;
    font-size: 16px;

}
.read_more:hover{
    color: #4386A9;
    cursor: pointer;
}

#root_laptop_info_div {
    width: 1178px;
    height: auto;
}

#laptop_img_div {
    width: 601px;
    height: 342px;
}

#mob_leanding_image {
    width: 268.58px;
    height: 349px;
}

#mob_leanding_div {
    margin-top: 30%;
    margin-left: 15%;
}

.bi {
    cursor: pointer;
}

.radio_div {
    width: 130px;
    border-bottom: 1px solid red
}

.radio1_div {

    width: 190px;
    border-bottom: 1px solid red
}

input[type=file]::file-selector-button {
    width: 200px;
    height: 45px;
    background-color: #62A1EB;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 0;

    border: none;
}

.event {
    pointer-events: none;
    color: gray;
}

.default_state {
    pointer-events: none;
}

#personal_headline_2, #personal_headline_1 {
    text-decoration: none;
}

#image_src {
    width: 872.8px;
    height: 418px;
    border: none;
    border-radius: 18px;
    text-indent: -10000px
}

#done_icon {
    width: 22px;
    height: 22px;
    color: #BED918;

}

#image_name {
    color: #202020;
    font-size: 14px;
}

#img_size {
    color: #5F5F5F;
    font-size: 13px;
}

.upload {
    width: 200px;
    height: 45px;
    background-color: #62A1EB;
    color: #FFFFFF;
    border-radius: 8px;

}

#warning {
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #C9CB52;
}

.form-control {
    border-color: #8AC0E2;
}

#brand, #cpu {
    background-color: #EBEBEB;
}

.my-bold-text {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.dynamicProperty {
    text-align: left;
}

.my-field-name {
    display: flex;
    align-items: center;
}

.my-field-name > div:first-child {
    width: 250px;
}

.my-field-name > div:last-child {
    flex: 1;
}

.parent_container {
    gap: 25px;
}


/* loader */
.loader-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


input:focus {
    background-color: #EAFAFF !important;

}

.hidden_overflow {
    overflow: hidden;
}

.backdrop {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4A4A4A;
    z-index: 10;
    position: fixed;
}

.backdrop.set_visible {
    display: block;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    width: 60%;
    min-height: 450px;
    height: 50%;
    background-color: white;
    border-radius: 8px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_image {
    width: 25%;
}

.modal_image > img {
    width: 100%;
}

.modal_message {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.modal_button_group {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.button {
    border: none;
    border-radius: 8px;
    padding: 12px 0;
}

.button_main {
    background-color: #62A1EB;
    color: white;
}

.button_secondary {
    background-color: white;
    color: #0089A7;
}

